.files {
    padding-top: 50px;   
    .container {
        position: relative;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        position: absolute;
        &-file {
          color: rgb(103, 103, 103);
          font-family: Montserrat;
          font-size: 16px;
          font-weight: 400;
          line-height: 150%;
          letter-spacing: 5%;
          text-align: left;
        }
        .dropdown {
            position: relative;
            z-index: 5;
            margin: 0 10px;
          }
          #dropdownBtnSort{
            margin-bottom: 12px;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 5%;
            text-align: left;
            width: 187px;
            height: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            left: 1200px;
            width: 187px;
            text-align: left;
            padding: 16px;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 10px;
            cursor: pointer;
            background-color: #ffffff;
            color: rgb(0, 0, 0);
            position: relative;
            border: 1px solid rgb(235, 235, 235);
              border-radius: 10px;
              background: rgba(255, 255, 255, 0.8);
          }
          #dropdownBtnSort:hover{
            background: rgb(246, 246, 246);
          }
          .sortText {
            color: rgb(103, 103, 103);
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 5%;
            text-align: left;
          }
          #dropdownSortOptions{
            position: absolute;
            left: 1200px;
            width: 187px;
            margin-top: 3px;
            display: none;
            background-color: #ffffff;
            flex-direction: column;
            border-radius: 10px;
            overflow: hidden;
            border: 1px solid rgba(235, 235, 235, 0);
            box-shadow: 1px 5px 23px 0px rgba(35, 35, 35, 0.08);
              border-radius: 10px;
              background: rgba(255, 255, 255, 1);
          }
          .sortOption{
            padding-left: 15px;
            padding-bottom: 10px;
            padding-top: 10px;
            color: rgb(0, 0, 0);
            text-decoration: none;
          }
          .sortOption:hover{
            background: rgb(246, 246, 246);
          }
          
          

    }
    .memory {
        padding-top: 50px;
        &__wrapper {
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(11, 120px);
            gap: 20px;
            .item__img {
                text-align: center;
            }
            .item__text {
                text-align: center;
            }
        }
    }
    input[type="file"] {
      display: none;
  }
}
